<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%> <%- include('../layouts/carousel.ejs')%>
<svg
  class="js-svg-sprite-loaded"
  xmlns="http://www.w3.org/2000/svg"
  style="display: none"
>
  <symbol id="icon-close" viewBox="0 0 20 19">
    <path
      d="M12.251,9.492 L19.558,16.334 C20.171,16.908 20.214,17.883 19.654,18.512 C19.094,19.140 18.142,19.184 17.529,18.610 L10.023,11.582 L2.529,18.610 C1.917,19.184 0.967,19.140 0.408,18.512 C-0.152,17.883 -0.109,16.908 0.503,16.334 L7.795,9.496 L0.503,2.668 C-0.110,2.094 -0.153,1.119 0.407,0.490 C0.968,-0.138 1.919,-0.183 2.532,0.392 L10.023,7.406 L17.503,0.392 C18.115,-0.183 19.065,-0.138 19.624,0.490 C20.183,1.119 20.141,2.094 19.528,2.668 L12.251,9.492 Z"
    ></path>
  </symbol>
  <symbol id="icon-burger" viewBox="0 0 26 17">
    <path
      d="M24.500,10.000 L1.500,10.000 C0.672,10.000 0.000,9.328 0.000,8.500 L0.000,8.500 C0.000,7.672 0.672,7.000 1.500,7.000 L24.500,7.000 C25.328,7.000 26.000,7.672 26.000,8.500 L26.000,8.500 C26.000,9.328 25.328,10.000 24.500,10.000 ZM24.500,3.000 L1.500,3.000 C0.672,3.000 0.000,2.328 0.000,1.500 C0.000,0.672 0.672,-0.000 1.500,-0.000 L24.500,-0.000 C25.328,-0.000 26.000,0.672 26.000,1.500 C26.000,2.328 25.328,3.000 24.500,3.000 ZM1.500,14.000 L24.500,14.000 C25.328,14.000 26.000,14.672 26.000,15.500 C26.000,16.328 25.328,17.000 24.500,17.000 L1.500,17.000 C0.672,17.000 0.000,16.328 0.000,15.500 C0.000,14.672 0.672,14.000 1.500,14.000 Z"
    ></path>
  </symbol>
  <symbol id="icon-spoon-fork" viewBox="0 0 29 28">
    <path
      d="M21.353,27.505 L20.208,26.340 L14.528,20.320 C12.663,22.297 9.821,25.308 8.688,26.508 C8.697,26.513 8.706,26.518 8.715,26.523 L7.659,27.597 C3.191,25.075 -0.001,20.078 -0.001,14.600 C-0.001,6.537 6.515,0.000 14.552,0.000 C22.589,0.000 29.104,6.537 29.104,14.600 C29.104,20.197 25.963,25.055 21.353,27.505 ZM14.552,1.413 C7.304,1.413 1.408,7.329 1.408,14.600 C1.408,19.212 3.939,23.450 7.566,25.861 L13.662,19.402 L12.506,18.177 C12.455,18.125 12.072,18.025 11.928,18.177 C11.630,18.495 11.217,18.932 11.206,18.944 C10.968,19.197 10.577,19.197 10.339,18.944 L10.272,18.872 L10.117,18.708 L5.842,14.175 C5.575,13.892 5.607,13.407 5.938,13.173 C6.185,12.998 6.468,13.105 6.677,13.328 L9.277,16.084 L10.433,17.309 C10.608,17.496 10.956,17.426 11.107,17.202 C11.225,17.027 11.188,16.780 11.044,16.627 L9.906,15.421 L7.287,12.644 C7.020,12.361 7.052,11.876 7.383,11.641 C7.629,11.466 7.912,11.548 8.122,11.770 L10.722,14.528 L11.877,15.753 C12.053,15.938 12.401,15.894 12.551,15.671 C12.669,15.494 12.733,15.171 12.589,15.018 L11.451,13.812 L8.851,11.054 C8.642,10.832 8.589,10.530 8.754,10.268 C8.975,9.917 9.382,9.883 9.648,10.167 L13.923,14.700 L14.078,14.864 L14.145,14.936 C14.384,15.188 14.333,15.627 14.095,15.881 C14.083,15.893 13.520,16.490 13.372,16.646 C13.228,16.799 13.322,17.205 13.372,17.259 L14.528,18.483 L15.828,17.106 L22.184,10.366 C22.346,10.194 22.448,10.085 22.473,10.060 C22.725,9.792 23.147,9.856 23.339,10.060 C23.764,10.510 23.276,16.253 20.162,19.556 C19.439,20.322 18.861,20.322 18.139,19.556 C17.895,19.298 17.432,18.806 16.984,18.331 C16.839,18.177 16.568,18.158 16.261,18.484 C16.221,18.526 15.893,18.874 15.395,19.402 L21.443,25.810 C25.189,23.485 27.696,19.335 27.696,14.600 C27.696,7.329 21.800,1.413 14.552,1.413 ZM17.850,17.413 C18.118,17.696 18.500,18.101 18.667,18.278 C19.012,18.644 19.333,18.597 19.790,18.112 C21.600,16.193 22.250,12.274 22.184,12.204 C22.130,12.261 21.925,12.478 21.765,12.648 C21.650,12.770 18.926,15.658 17.995,16.646 C17.814,16.839 17.684,17.235 17.850,17.413 ZM8.428,27.985 L8.414,27.999 C8.405,27.995 8.397,27.990 8.388,27.985 L8.428,27.985 Z"
    ></path>
  </symbol>
  <symbol id="icon-attention" viewBox="0 0 31.3 27.7">
    <path
      d="M31,25.9L16.6,0.7c-0.6-1-1.5-1-2,0L0.2,25.9c-0.6,1-0.1,1.8,1,1.8H30C31.1,27.7,31.6,26.9,31,25.9z M17.7,22.5
      c0,0.6-0.5,1-1,1h-2.1c-0.6,0-1-0.5-1-1v-2.1c0-0.6,0.5-1,1-1h2.1c0.6,0,1,0.5,1,1V22.5z M17.7,16.4c0,0.6-0.5,1-1,1h-2.1
      c-0.6,0-1-0.5-1-1v-6.2c0-0.6,0.5-1,1-1h2.1c0.6,0,1,0.5,1,1V16.4z"
    ></path>
  </symbol>
  <symbol id="icon-hang" viewBox="0 0 150 44">
    <path
      d="M75.000,6.752 L-49.284,68.319 L-52.305,67.396 L75.000,4.333 L202.305,67.396 L199.284,68.319 L75.000,6.752 Z"
    ></path>
    <circle cx="75" cy="6.109" r="7"></circle>
  </symbol>
  <symbol id="icon-arrow-to-left" viewBox="0 0 113 67">
    <path
      d="M104.116,10.004 C105.666,6.809 107.045,6.015 108.024,4.835 L109.189,4.865 C108.727,6.000 108.246,7.127 107.720,8.237 C100.454,23.587 90.032,36.031 74.822,44.041 C63.402,50.055 51.174,53.262 38.380,54.393 C35.251,54.799 35.451,54.512 35.605,57.407 C35.741,60.003 35.557,62.611 35.482,65.211 C35.412,67.609 34.074,68.347 31.922,67.236 C22.349,62.298 13.059,56.694 2.416,54.239 C1.269,53.975 1.463,53.069 1.436,52.282 C1.395,50.814 1.948,49.913 3.512,49.731 C4.826,49.576 6.160,49.383 7.417,48.992 C15.558,46.454 23.963,44.708 31.672,40.849 C33.323,40.020 34.751,40.538 34.660,42.884 C34.592,44.651 34.648,46.424 34.593,48.190 C34.522,50.454 34.154,51.030 36.975,50.695 C44.910,49.933 52.746,48.786 60.370,46.284 C73.770,41.887 85.580,35.147 94.856,24.272 C98.580,19.908 101.559,15.021 104.116,10.004 ZM32.955,56.354 C32.935,53.960 31.848,54.940 30.133,54.842 C28.996,54.776 27.073,55.835 26.962,53.587 C26.862,51.578 28.409,51.290 30.141,51.181 C32.276,51.047 32.270,51.371 32.092,49.283 C31.970,47.840 32.123,46.381 32.160,44.446 C25.079,47.730 18.213,50.627 10.315,51.799 C12.692,53.970 15.374,54.140 17.564,55.405 C21.799,57.851 26.279,59.862 30.650,62.072 C32.250,62.881 33.245,63.005 33.163,60.627 C33.115,59.216 32.967,57.836 32.955,56.354 Z"
    ></path>
  </symbol>
</svg>
<div class="section bg_redon">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 animation"
        data-animation="fadeInUp"
        data-animation-delay="0.02s"
      >
        <div class="about_section pl-lg-3">
          <div class="heading_s1">
            <span class="sub_heading font_style1">About</span>
            <h2>Byford Pizzeria</h2>
          </div>
          <p>
            At Byford Pizzeria Before, we provide high-quality meals and encourage you to taste our delectable Pizza, pasta, and other cuisines. We always cook our food with love and care to please your taste buds. Our rates are reasonable.
          </p>
          <p>
            We can also deliver to select places. Please refer to the website's Zones. Consume delectable pizzas. Get yourself a drink. But most importantly, unwind! We are grateful for your ongoing support from the bottom of our hearts.
          </p>
        </div>
      </div>
      <div
        class="col-lg-6 animation"
        data-animation="fadeInUp"
        data-animation-delay="0.03s"
      >
        <div class="about_double_img">
          <div class="first_img">
            <img src="/images/deals.gif" alt="about_img2" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg_white">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6 animation"
        data-animation="fadeInUp"
        data-animation-delay="0.02s"
      >
        <div class="about_section pl-lg-3">
          <div class="heading_s1">
            <span class="sub_heading font_style1">Dine In</span>
          </div>
          <p>
            Reserve a table in advance for a special occasion or a fine dining
            experience. We accept walk-ins for table service. Please contact us
            to make a reservation in advance or for a special occasion.
          </p>
        </div>
      </div>

      <div
        class="col-lg-6 animation"
        data-animation="fadeInUp"
        data-animation-delay="0.02s"
      >
        <div class="about_section pl-lg-3">
          <div class="heading_s1">
            <span class="sub_heading font_style1">Take Away Delivery</span>
          </div>
          <p>
            Our menu is available for takeout or pickup. You may place an order either online or over the phone. Furthermore, delivery is accessible in Byford and the surrounding locations, which are shown below.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section bg_redon">
  <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.03s">
            <img src="/images/delivery_location.jpeg" alt="indianflavoursbyford" />
        </div>
          <div class="col-lg-6 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
              <div class="about_section pl-lg-3">
                    <div class="heading_s1">
                      <span class="sub_heading font_style1">Pizza Delivery Area</span>
                        <h2>Byford Pizzeria</h2>
                    </div>
                    <p>If you want to be treated like a king, meal delivery from Byford Pizzeria is the way to go. Simply choose 'Delivery' from the checkout menu, and we hope you enjoy our meal delivery service.</p>
                    <ul class="area">
                      <li>  Minimum Order $30-$5 Delivery Fee Byford.</li>
                      <li> Minimun Order $45-$10 Delivery Fee Oakford, Cardup , Whitby, Mundijong,Darking Downs,Hilbert</li>

                    </ul>
                    <a class="btn btn-dark" href="/menu">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
	<div class="container">
    	<div class="row align-items-center">
        	<div class="col-md-7 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.02s" style="animation-delay: 0.02s; opacity: 1;">
                <div class="heading_s1">
                    <span class="sub_heading font_style1">Put in Your Pocket</span>
                    <h2>Download Our Mobile App</h2>
                </div>
                <p>Takeaway/Pickup service is available for our menu. you can order online, via the app ,or by phone.</p>
                <a class="btn btn-dark btn-radius" href="https://apps.apple.com/app/byford-pizzeria/id1609962095" target="-blank"><i class="ion-social-apple"></i>App Store</a>
                <a class="btn btn-default btn-radius" href="https://play.google.com/store/apps/details?id=com.ballisolutions.au.app.byfordpizzeria" target="-blank"><i class="ion-social-android"></i>Play Store</a>
            </div>
            <div class="col-md-5 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.03s" style="animation-delay: 0.03s; opacity: 1;">	
                <div class="mobile_app text-center">
                    <img src="/images/mobile_app.jpeg" alt="mobile_app">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/foot.ejs') %>
<%- include('../includes/end.ejs') %>